In [7]:
#Dependencies
import pandas as pd
import os

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy import create_engine, MetaData
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Numeric, Text, Float

In [20]:
#read cleaned csvs using pandas
meas = pd.read_csv(os.path.join("Resources","clean_measures.csv"),index_col="Unnamed: 0")

statns = pd.read_csv(os.path.join("Resources","clean_stations.csv"),index_col="Unnamed: 0")

In [21]:
meas.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
5  USC00519397  2010-01-07  0.06    70

In [9]:
# Create an engine to a database file called `hawaii.sqlite`
engine = create_engine("sqlite:///hawaii.sqlite")

In [10]:
# Create a connection to the engine called `conn`
conn = engine.connect()

In [24]:
# Use declarative_base and create ORM classes for each table.

Base = declarative_base()

class Measurement(Base):
    __tablename__ = 'measurements'

    id = Column(Integer, primary_key=True)
    station = Column(String)
    date = Column(String)
    prcp = Column(Float)
    tobs = Column(Float)

In [25]:
class Station(Base):
    __tablename__ = 'stations'

    id = Column(Integer, primary_key=True)
    station = Column(String)
    name = Column(Text)
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)

In [26]:
# create the tables in the database using `create_all`
Base.metadata.create_all(engine)